meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width,user-scalable=no")
meta(name="renderer", content="webkit")
meta(name="theme-color", content="#FFF")

title
    block site_title
        = config.title
block description
    meta(name="description", content = config.description ? config.description : 'A blog powered by hexo')

link(rel="icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/theme.css"))

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
